<p id="notice"><%= notice %></p>

<h1 class="title">Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Done</th>
      <th>Worker</th>
      <th>Updated at</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="<%= task.status %>">
        <td><%= task.name %></td>
        <td><%= task.status %></td>
        <td><%= task.worker_name %></td>
        <td><%= I18n.l task.updated_at, format: :short %></td>
        <td>
          <%= link_to 'Done!', done_task_path(task), method: :post unless task.done? %>
          <%= link_to 'Undo :(', pending_task_path(task), method: :post if task.done? %>
        </td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="add-new">
  <%= link_to 'New Task', new_task_path %>
  <%#= button_to 'New Task', new_task_path, { method: :get } %>
</div>
