<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Done:</strong>
  <%= @task.done %>
</p>

<p>
  <strong>Worker:</strong>
  <!-- 
    Evitar llamadas anidadas entre modelos en las vistas.
    En este caso, worker puede estar vacío, por lo que la llamada a name produce un error
    undefined method `name' for nil:NilClass
    <%#= @task.worker.name %>
  -->
  <%= @task.worker_name %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
