<!-- index.html.erb -->

<!-- Mostrar el nombre del usuario en @user_name -->
<!-- <h2>
  Hello <%= @user_name %>,
</h2> -->

<!-- Mostrar el día de la semana. -->
<h3>
  today is <%= Time.now.strftime('%A') %>.
</h3>
