/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  font-family: arial, helvetica, sans-serif;
  color: #333;
}

a {
  transition: all ease 0.3s;
  color: #a50000;
  text-decoration: none;
}

a:hover {
  background: none;
  text-decoration: underline;
}

a:visited {
  color: #a50000;
} 

body > header h1 {
  background: #a50000;  
  padding: 20px;
  margin: 0;
}

body > header h1 a {
  text-decoration: none;
  color: #fff ;
}
body > header h1 a:hover {
  text-decoration: underline;
  background: none;
}
body > header h1 a:visited {
  color: #fff;
}

.nav {
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav:after {
  clear: both;
  content: '';
  display: table;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
}

.nav a {
  border: 1px solid #ddd;
  border-radius: 0 0 8px 8px;
  padding: 20px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}

.nav a:hover {
  color: #333;
}

.nav a:visited {
  color: #333;
}

.nav a:hover {
  background: #E4E4E4;
  border-color: #E4E4E4;
  box-shadow: 0 10px 16px -8px #a8a8a8;
}

.title {
  margin: 0 20px 40px;
  font-size: 30px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}

.small-table {
  width: 60%;
  margin: 0 auto;
}

th {
  text-align: left;
  padding: 10px;
  background: #a8a8a8;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
}

td {
  border-bottom: 1px solid #a8a8a8;
  padding: 10px;
  font-size: 15px;
}

.add-new {
  text-align: right;
}

.add-new a {
  border: 1px solid #a8a8a8;
  margin: 20px;
  display: inline-block;
  padding: 10px 30px 10px 45px ;
  position: relative;
  font-size: 15px;
}

.add-new a:before {
  content: '+';
  font-size: 26px;
  position: absolute;
  top: 9px;
  left: 15px;
}

.add-new a:hover {
  background: #a50000;
  color: #FFFFFF;
  text-decoration: none;
}

body>footer {
  border-top: 1px solid #a8a8a8;
  padding: 20px;
  color: #333;
  font-size: 12px;
}