<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to 'Redradix ToDo', root_url %></h1>
  </header>
<!-- <h1><%= @app_title %></h1> -->
  <ul class='nav'>
    <%= render partial: 'layouts/menu', collection: @menu_options %>
  </ul>
<%= yield %>
<footer>
  <%= I18n.l Time.now %>
</footer>
</body>
</html>
